.main-div {
    background-color: #ADBECB;
    padding: 10px 30px;
    display: block;
    margin: 0px 30px;
    border: 1px solid grey;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    height: 100vh;
    justify-content: flex-end;

}
